Repository wowsims/mop, pull requests merged in 2025-07, with the labels that each got.

#392 Fix fele duration APL value
  sim/shaman/apl_values.go
  ui/core/components/individual_sim_ui/apl_values.ts
Labels: Shaman

#398 Shamans APL update
  sim/shaman/elemental/TestElemental.results
  sim/shaman/elemental/elemental_test.go
  sim/shaman/enhancement/TestEnhancement.results
  ui/shaman/elemental/apls/default.apl.json
  ui/shaman/elemental/presets.ts
  ui/shaman/elemental/sim.ts
  ui/shaman/enhancement/apls/default.apl.json
  ui/shaman/enhancement/presets.ts
Labels: Shaman

#399 [Frost] Update mastery after balance changes and update APL
  sim/death_knight/frost/TestFrostMasterfrost.results
  sim/death_knight/frost/TestFrostTwoHand.results
  sim/death_knight/frost/mastery.go
  ui/death_knight/frost/apls/masterfrost.apl.json
  ui/death_knight/frost/gear_sets/p1.masterfrost.gear.json
  ui/death_knight/frost/presets.ts
Labels: Death Knight

#406 Balance druid tweaks and fixes
  sim/core/TestProtoVersioning.results
  sim/druid/balance/TestBalance.results
  sim/druid/balance/balance.go
  sim/druid/balance/eclipse.go
  sim/druid/balance/passives.go
  sim/druid/balance/treants.go
  ui/druid/balance/apls/standard.apl.json
  ui/druid/balance/presets.ts
Labels: Druid

#444 Bm fixes
  sim/hunter/beast_mastery/TestBeastMastery.results
  sim/hunter/beast_mastery/kill_command.go
  sim/hunter/pet_abilities.go
Labels: Hunter

#450 [Frost] Update APLs and gear sets
  sim/death_knight/frost/TestFrostMasterfrost.results
  sim/death_knight/frost/TestFrostTwoHand.results
  sim/death_knight/frost/frost_test.go
  ui/death_knight/frost/apls/masterfrost.apl.json
  ui/death_knight/frost/apls/obliterate.apl.json
  ui/death_knight/frost/gear_sets/p1.2h-obliterate.gear.json
  ui/death_knight/frost/gear_sets/p1.masterfrost.gear.json
  ui/death_knight/frost/gear_sets/prebis.gear.json
  ui/death_knight/frost/presets.ts
  ui/death_knight/frost/sim.ts
Labels: Death Knight

#449 Port stats panel overhaul from classic/sod
  ui/core/components/character_stats.tsx
  ui/scss/core/components/_character_stats.scss
Labels: enhancement

#461 Finish Guardian implementation
  sim/druid/guardian/TestGuardian.results
  sim/druid/guardian/tank_test.go
  ui/core/launched_sims.ts
  ui/druid/guardian/gear_sets/preraid.gear.json
  ui/druid/guardian/presets.ts
  ui/druid/guardian/sim.ts
  ui/index.html
Labels: Druid

#468 [Guardian] Remove rep-gated enchants from pre-raid gear preset
  sim/druid/guardian/TestGuardian.results
  ui/druid/guardian/builds/garajal_default.build.json
  ui/druid/guardian/gear_sets/preraid.gear.json
Labels: Druid

#472 [Ret] Tiny APL tweak for more deeps
  sim/paladin/retribution/TestRetribution.results
  ui/paladin/retribution/apls/default.apl.json
Labels: Paladin

#482 Guardian Updates
  sim/druid/guardian/TestGuardian.results
  sim/druid/guardian/tank.go
  ui/druid/guardian/builds/garajal_default.build.json
  ui/druid/guardian/gear_sets/preraid.gear.json
Labels: Druid

#484 [Prot] Revert Sanctuary 5% dmg reduction buff
  sim/paladin/protection/TestProtection.results
  sim/paladin/protection/sanctuary.go
Labels: Paladin

#490 Gara'jal Model Updates
  sim/core/aura_helpers.go
  sim/core/flags.go
  sim/druid/guardian/TestGuardian.results
  sim/encounters/msv/garajal_ai.go
  sim/warrior/protection/TestProtectionWarrior.results
  sim/warrior/protection/protection_test.go
Labels: Druid, Warrior

#494 Fix/pending action pools
  sim/common/shared/shared_utils.go
  sim/core/gcd.go
  sim/core/health.go
  sim/core/pending_action.go
  sim/core/periodic_action.go
  sim/core/pet.go
  sim/core/sim.go
  sim/core/spell_result.go
  sim/death_knight/death_strike.go
  sim/druid/balance/TestBalance.results
  sim/encounters/dragonsoul/blackhorn_ai.go
  sim/encounters/movement_ai.go
  sim/encounters/msv/garajal_ai.go
  sim/hunter/a_murder_of_crows.go
  sim/hunter/explosive_trap.go
  sim/mage/frostfire_bolt.go
  sim/mage/heating_up.go
  sim/monk/brewmaster/TestBrewmaster.results
  sim/monk/brewmaster/brewmaster_test.go
  sim/monk/brewmaster/passives.go
  sim/paladin/glyphs.go
  sim/paladin/protection/protection.go
  sim/paladin/talents.go
  sim/priest/shadow/cascade.go
  sim/priest/shadow/divine_star.go
  sim/rogue/assassination/venomous_wounds.go
  sim/warrior/stances.go
Labels: Druid, Hunter, Mage, Paladin, Priest, Rogue, Warrior, Monk

#508 [DK] Update Frost and Unholy presets
  sim/death_knight/blood/blood_test.go
  sim/death_knight/frost/TestFrostMasterfrost.results
  sim/death_knight/frost/TestFrostTwoHand.results
  sim/death_knight/frost/frost_test.go
  sim/death_knight/unholy/TestUnholy.results
  sim/death_knight/unholy/unholy_test.go
  ui/death_knight/frost/apls/obliterate.apl.json
  ui/death_knight/frost/builds/p1.2h-obliterate.build.json
  ui/death_knight/frost/builds/p1.masterfrost.build.json
  ui/death_knight/frost/builds/prebis.masterfrost.build.json
  ui/death_knight/frost/gear_sets/p1.2h-obliterate.gear.json
  ui/death_knight/frost/gear_sets/p1.dw-obliterate.gear.json
  ui/death_knight/frost/gear_sets/p1.masterfrost.gear.json
  ui/death_knight/frost/gear_sets/prebis.gear.json
  ui/death_knight/frost/presets.ts
  ui/death_knight/frost/sim.ts
  ui/death_knight/unholy/builds/p1.build.json
  ui/death_knight/unholy/builds/prebis.build.json
  ui/death_knight/unholy/gear_sets/p1.gear.json
  ui/death_knight/unholy/gear_sets/prebis.gear.json
  ui/death_knight/unholy/presets.ts
  ui/death_knight/unholy/sim.ts
Labels: Death Knight

#502 APLValueMath changes, fixing #256
  sim/core/apl_values_operators.go
  sim/core/apl_values_operators_test.go
  sim/warlock/destruction/TestDestruction.results
Labels: Warlock

#516 [Feral] Port rotation logic from Cata
  makefile
  sim/druid/feral/TestFeral.results
  sim/druid/feral/feral.go
  sim/druid/feral/feral_test.go
  sim/druid/feral/rotation.go
  sim/druid/feral/rotation_helpers.go
  sim/druid/feral/savage_roar.go
  sim/druid/rake.go
  ui/druid/feral/apls/default.apl.json
  ui/druid/feral/presets.ts
Labels: Druid

#524 Added Elemental Force Weapon Enchant + Sinister Strike's stormlash multiplier
  sim/common/mop/enchants.go
  sim/core/buffs.go
  sim/core/flags.go
  sim/death_knight/blood/TestBlood.results
  sim/death_knight/frost/TestFrostMasterfrost.results
  sim/death_knight/frost/TestFrostTwoHand.results
  sim/death_knight/unholy/TestUnholy.results
  sim/druid/balance/TestBalance.results
  sim/druid/feral/TestFeral.results
  sim/druid/guardian/TestGuardian.results
  sim/hunter/beast_mastery/TestBeastMastery.results
  sim/hunter/marksmanship/TestMarksmanship.results
  sim/hunter/survival/TestSurvival.results
  sim/mage/arcane/TestArcane.results
  sim/mage/fire/TestFire.results
  sim/mage/frost/TestFrost.results
  sim/monk/brewmaster/TestBrewmaster.results
  sim/monk/windwalker/TestWindwalker.results
  sim/paladin/protection/TestProtection.results
  sim/paladin/retribution/TestRetribution.results
  sim/priest/shadow/TestShadow.results
  sim/rogue/assassination/TestAssassination.results
  sim/rogue/combat/TestCombat.results
  sim/rogue/subtlety/TestSubtlety.results
  sim/shaman/elemental/TestElemental.results
  sim/shaman/enhancement/TestEnhancement.results
  sim/warlock/affliction/TestAffliction.results
  sim/warlock/demonology/TestDemonology.results
  sim/warlock/destruction/TestDestruction.results
  sim/warrior/arms/TestArms.results
  sim/warrior/fury/TestFury.results
  sim/warrior/protection/TestProtectionWarrior.results
Labels: Druid, Hunter, Mage, Paladin, Priest, Rogue, Shaman, Warlock, Warrior, Monk

#534 [Shaman] Bug and Crash fix
  sim/shaman/ascendance.go
  sim/shaman/elemental/TestElemental.results
  sim/shaman/enhancement/TestEnhancement.results
  sim/shaman/enhancement/enhancement_test.go
  sim/shaman/fire_elemental_pet.go
  sim/shaman/fire_elemental_spells.go
  sim/shaman/fire_totems.go
  sim/shaman/lightning_shield.go
  sim/shaman/shaman.go
  sim/shaman/shocks.go
  sim/shaman/talents.go
  sim/shaman/talents_elemental.go
  sim/shaman/unleash_elements.go
  sim/shaman/weapon_imbues.go
  ui/core/proto_utils/action_id.ts
Labels: Shaman

#539 [Feral] Level 90 talents + associated rotation adjustments
  sim/druid/druid.go
  sim/druid/feral/TestFeral.results
  sim/druid/feral/feral.go
  sim/druid/feral/feral_test.go
  sim/druid/feral/rotation.go
  sim/druid/feral/rotation_helpers.go
  sim/druid/feral/talents.go
  sim/druid/forms.go
  sim/druid/guardian/talents.go
  sim/druid/lacerate.go
  sim/druid/natures_swiftness.go
  sim/druid/swipe.go
  sim/druid/talents.go
  sim/druid/thrash.go
  ui/druid/feral/apls/default.apl.json
  ui/druid/feral/presets.ts
  ui/druid/feral/sim.ts
Labels: Druid

#540 Set Feral DPS sim to Alpha
  proto/apl.proto
  proto/druid.proto
  sim/druid/feral/rotation.go
  sim/druid/feral/rotation_helpers.go
  ui/core/components/individual_sim_ui/apl_actions.ts
  ui/core/launched_sims.ts
  ui/druid/feral/apls/default.apl.json
  ui/druid/feral/inputs.ts
  ui/druid/feral/presets.ts
  ui/druid/feral/sim.ts
  ui/index.html
Labels: Druid

#542 [Rogue] Update Preraid setups for first week + fix Asn Hit EP
  sim/rogue/assassination/TestAssassination.results
  sim/rogue/combat/TestCombat.results
  sim/rogue/subtlety/TestSubtlety.results
  ui/rogue/assassination/gear_sets/preraid_assassination.gear.json
  ui/rogue/assassination/presets.ts
  ui/rogue/combat/gear_sets/preraid_combat.gear.json
  ui/rogue/subtlety/gear_sets/preraid_subtlety.gear.json
Labels: Rogue

#547 More warrior spell damage fix
  sim/warrior/fury/TestFury.results
  sim/warrior/heroic_strike_cleave.go
  sim/warrior/protection/TestProtectionWarrior.results
  sim/warrior/talents.go
Labels: Warrior

#550 Update frost prebis
  sim/death_knight/frost/TestFrostMasterfrost.results
  ui/death_knight/frost/builds/prebis.masterfrost.build.json
  ui/death_knight/frost/gear_sets/prebis.gear.json
Labels: Death Knight

#552 Feral Updates
  proto/apl.proto
  sim/core/apl_value.go
  sim/core/apl_values_aura_sets.go
  sim/core/major_cooldown.go
  sim/druid/feral/TestFeral.results
  ui/core/components/individual_sim_ui/apl_values.ts
  ui/core/components/individual_sim_ui/preset_configuration_picker.tsx
  ui/core/proto_utils/apl_utils.ts
  ui/druid/feral/apls/default.apl.json
  ui/druid/feral/gear_sets/preraid.gear.json
  ui/druid/feral/presets.ts
  ui/druid/feral/sim.ts
Labels: Druid

#558 [Shaman] Update elem cleave apl
  ui/shaman/elemental/apls/cleave.apl.json
Labels: Shaman

#575 [Hunter] Fix rotation defaults and fix Beast Cleave spell id
  sim/hunter/beast_mastery/specializations.go
  ui/hunter/beast_mastery/presets.ts
  ui/hunter/inputs.ts
  ui/hunter/marksmanship/presets.ts
  ui/hunter/survival/apls/aoe.apl.json
  ui/hunter/survival/presets.ts
  ui/hunter/survival/sim.ts
Labels: Hunter
