Repository wowsims/mop, pull requests merged in 2025-09, with the labels that each got.

#715 [Shaman] Allow for enh to chose a different imbue for weapon swap.
  proto/shaman.proto
  sim/core/character.go
  sim/core/item_swaps.go
  sim/core/procs.go
  sim/shaman/elemental/elemental.go
  sim/shaman/enhancement/enhancement.go
  sim/shaman/enhancement/enhancement_test.go
  sim/shaman/shaman.go
  sim/shaman/talents.go
  sim/shaman/unleash_elements.go
  sim/shaman/weapon_imbues.go
  ui/shaman/elemental/presets.ts
  ui/shaman/enhancement/inputs.ts
  ui/shaman/enhancement/presets.ts
  ui/shaman/enhancement/sim.ts
  ui/shaman/inputs.ts
Labels: Shaman

#724 [Rogue] Update Asn EPs
  ui/rogue/assassination/presets.ts
Labels: Rogue

#753 Clean up disc presets
  ui/core/individual_sim_ui.tsx
  ui/priest/discipline/apls/aoe_2_4.apl.json
  ui/priest/discipline/apls/aoe_4_plus.apl.json
  ui/priest/discipline/apls/default.apl.json
  ui/priest/discipline/gear_sets/p1.gear.json
  ui/priest/discipline/gear_sets/p2.gear.json
  ui/priest/discipline/gear_sets/p3.gear.json
  ui/priest/discipline/gear_sets/p4.gear.json
  ui/priest/discipline/gear_sets/preraid.gear.json
  ui/priest/discipline/presets.ts
  ui/priest/discipline/sim.ts
Labels: Priest

#745 Feature/druid/feral/t15 and t16 set bonuses
  sim/druid/balance/TestBalance.results
  sim/druid/druid.go
  sim/druid/feral/TestFeral.results
  sim/druid/feral/feral.go
  sim/druid/feral/items.go
  sim/druid/feral/omen_of_clarity.go
  sim/druid/feral/talents.go
  sim/druid/feral/tigers_fury.go
  sim/druid/guardian/TestGuardian.results
  sim/druid/items.go
Labels: Druid

#777 Add swing variance to dire beast and stampede pets
  sim/hunter/beast_mastery/TestBeastMastery.results
  sim/hunter/dire_beast.go
  sim/hunter/marksmanship/TestMarksmanship.results
  sim/hunter/pet.go
  sim/hunter/stampede.go
  sim/hunter/survival/TestSurvival.results
  ui/hunter/beast_mastery/presets.ts
  ui/hunter/presets/p1.gear.json
  ui/hunter/survival/presets.ts
Labels: Hunter

#789 Hunter pets causing sim crash "Invalid pet ability type"
  sim/hunter/pet.go
Labels: Hunter

#792 Weapon-swapping support for HotW Wrath-weaving
  sim/druid/feral/TestFeral.results
  sim/druid/feral/rotation.go
  sim/druid/feral/rotation_helpers.go
  sim/druid/feral/talents.go
Labels: Druid

#799 [Hunter] Fix pet armor debuff stacks and cooldowns
  sim/hunter/pet_abilities.go
Labels: Hunter

#805 Feral Updates
  sim/common/mop/enchants.go
  sim/core/movement.go
  sim/death_knight/presences.go
  sim/druid/_feral_charge.go
  sim/druid/dash.go
  sim/druid/druid.go
  sim/druid/feral/TestFeral.results
  sim/druid/feral/feral_test.go
  sim/druid/feral/rotation.go
  sim/druid/forms.go
  sim/druid/talents.go
  sim/paladin/talents.go
  ui/core/components/individual_sim_ui/apl_actions.ts
  ui/core/launched_sims.tsx
  ui/druid/feral/gear_sets/p1_item_swap.gear.json
  ui/druid/feral/gear_sets/p4_item_swap.gear.json
  ui/druid/feral/gear_sets/preraid.gear.json
  ui/druid/feral/presets.ts
  ui/druid/feral/sim.ts
  ui/index.html
Labels: Druid, Paladin

#806 [Rogue] Remove bespoke check for Main Gauche on poisons.
  sim/druid/feral/rotation_helpers.go
  sim/druid/talents.go
  sim/rogue/combat/TestCombat.results
  sim/rogue/poisons.go
Labels: Druid, Rogue

#824 Lava beam not affected by glyph of chain lightning + ui bug fix
  sim/shaman/chain_lightning.go
  sim/shaman/electric_spell.go
  sim/shaman/elemental/TestElemental.results
  sim/shaman/elemental/lava_beam.go
  sim/shaman/fire_elemental_pet.go
  ui/core/player.ts
  ui/shaman/inputs.ts
Labels: Shaman

#850 Feral Phase 2 Updates
  sim/common/mop/enchants.go
  sim/core/apl_actions_sequences.go
  sim/core/item_swaps.go
  sim/death_knight/unholy/TestUnholy.results
  sim/druid/balance/TestBalance.results
  sim/druid/feral/TestFeral.results
  sim/druid/feral/feral_test.go
  sim/druid/feral/rotation.go
  sim/druid/feral/rotation_helpers.go
  sim/druid/guardian/TestGuardian.results
  sim/druid/rake.go
  sim/druid/shared_feral_passives.go
  sim/hunter/beast_mastery/TestBeastMastery.results
  sim/hunter/survival/TestSurvival.results
  sim/mage/arcane/TestArcane.results
  sim/mage/fire/TestFire.results
  sim/mage/frost/TestFrost.results
  sim/paladin/protection/TestProtection.results
  sim/paladin/retribution/TestRetribution.results
  sim/priest/shadow/TestShadow.results
  sim/shaman/elemental/TestElemental.results
  sim/shaman/enhancement/TestEnhancement.results
  sim/warlock/affliction/TestAffliction.results
  sim/warlock/demonology/TestDemonology.results
  sim/warlock/destruction/TestDestruction.results
  ui/core/launched_sims.tsx
  ui/core/preset_utils.tsx
  ui/druid/feral/apls/aoe.apl.json
  ui/druid/feral/builds/single_target.build.json
  ui/druid/feral/builds/sustained_cleave.build.json
  ui/druid/feral/gear_sets/p2.gear.json
  ui/druid/feral/gear_sets/preraid.gear.json
  ui/druid/feral/inputs.ts
  ui/druid/feral/presets.ts
  ui/druid/feral/sim.ts
  ui/druid/guardian/gear_sets/p2.gear.json
  ui/druid/guardian/presets.ts
  ui/druid/guardian/sim.ts
  ui/index.html
Labels: Druid, Hunter, Mage, Paladin, Priest, Shaman, Warlock

#854 [Warlock] Extend Soulswap and add new Custom APL for Exhale Target selection
  assets/locales/en/translation.json
  assets/locales/fr/translation.json
  proto/apl.proto
  schemas/translation.schema.json
  sim/warlock/affliction/affliction.go
  sim/warlock/affliction/apl_values.go
  sim/warlock/affliction/soul_swap.go
  ui/core/components/individual_sim_ui/apl_actions.ts
  ui/core/proto_utils/action_id.ts
  ui/warlock/affliction/apls/default.apl.json
Labels: Warlock

#863 [SV] Add on-use trinket pop to Survival APL
  sim/hunter/survival/TestSurvival.results
  ui/core/proto_utils/action_id.ts
  ui/hunter/survival/apls/sv.apl.json
Labels: Hunter

#883 [Unholy] Update APL
  sim/death_knight/unholy/TestUnholy.results
  ui/death_knight/unholy/apls/default.apl.json
Labels: Death Knight

#886 Fix Healing Touch hardcasts to reset the swing timer
  sim/druid/feral/TestFeral.results
  sim/druid/healing_touch.go
Labels: Druid
