Repository wowsims/mop, pull requests merged in 2025-08, with the labels that each got.

#582 [Pet] Fixup attack speed multiplier inheritance
  sim/core/energy.go
  sim/core/focus.go
  sim/core/pet.go
  sim/death_knight/ghoul_pet.go
  sim/druid/feral/feral.go
  sim/druid/guardian/tank.go
  sim/hunter/hunter.go
  sim/hunter/pet.go
  sim/monk/monk.go
  sim/rogue/rogue.go
  sim/warlock/affliction/TestAffliction.results
  sim/warlock/demonology/TestDemonology.results
  sim/warlock/destruction/TestDestruction.results
  sim/warlock/doomguard.go
  sim/warlock/pets.go
Labels: Druid, Hunter, Rogue, Warlock, Monk

#585 [Rogue] Gearset updates + Sub APL change
  sim/rogue/assassination/TestAssassination.results
  sim/rogue/combat/TestCombat.results
  sim/rogue/subtlety/TestSubtlety.results
  ui/rogue/assassination/gear_sets/p1_assassination_msv.gear.json
  ui/rogue/assassination/gear_sets/preraid_assassination.gear.json
  ui/rogue/combat/gear_sets/p1_combat_msv.gear.json
  ui/rogue/combat/gear_sets/preraid_combat.gear.json
  ui/rogue/subtlety/apls/subtlety.apl.json
  ui/rogue/subtlety/gear_sets/p1_subtlety_msv.gear.json
  ui/rogue/subtlety/gear_sets/preraid_subtlety.gear.json
Labels: Rogue

#586 [Hunter] Fix Spiked Collar crit mod
  sim/hunter/beast_mastery/TestBeastMastery.results
  sim/hunter/marksmanship/TestMarksmanship.results
  sim/hunter/pet_spec.go
  sim/hunter/survival/TestSurvival.results
Labels: Hunter

#589 [Rogue] Subtlety APL Fix
  sim/rogue/subtlety/TestSubtlety.results
  ui/rogue/subtlety/apls/subtlety.apl.json
Labels: Rogue

#590 [Rogue] Re-nerf Fangs stacking agi
  sim/rogue/assassination/TestAssassination.results
  sim/rogue/combat/TestCombat.results
  sim/rogue/items_mop.go
  sim/rogue/subtlety/TestSubtlety.results
Labels: Rogue

#597 Fix/balance leather spec
  sim/druid/balance/TestBalance.results
  sim/druid/balance/balance.go
  sim/druid/balance/passives.go
Labels: Druid

#600 [Rogue] Assassination APL improvements and Shadow Blades fix
  sim/rogue/assassination/TestAssassination.results
  sim/rogue/combat/TestCombat.results
  sim/rogue/shadow_blades.go
  sim/rogue/subtlety/TestSubtlety.results
  ui/rogue/assassination/apls/assassination.apl.json
Labels: Rogue

#605 Feature/auto gemming
  ui/core/components/individual_sim_ui/gem_summary.tsx
  ui/core/components/suggest_reforges_action.tsx
  ui/core/proto_utils/gear.ts
  ui/core/proto_utils/stats.ts
  ui/mage/fire/sim.tsx
Labels: Mage

#610 Windsong and the Balance druid
  sim/druid/balance/TestBalance.results
  sim/druid/balance/eclipse.go
Labels: Druid

#644 [Rogue] Fix Assassination T16
  sim/rogue/assassination/TestAssassination.results
  sim/rogue/items_mop.go
Labels: Rogue

#658 [DK] Fix some Reaping bugs and build phase stuff
  sim/death_knight/blood/TestBlood.results
  sim/death_knight/blood/scarlet_fever.go
  sim/death_knight/blood/veteran_of_the_third_war.go
  sim/death_knight/blood_boil.go
  sim/death_knight/icy_touch.go
  sim/death_knight/pestilence.go
  sim/death_knight/unholy/blood_strike.go
  sim/death_knight/unholy/festering_strike.go
  ui/death_knight/unholy/presets.ts
Labels: Death Knight

#659 [Ret] APL tweaks
  sim/paladin/retribution/TestRetribution.results
  ui/paladin/retribution/apls/default.apl.json
Labels: Paladin

#635 Add Feral T14 set bonuses
  sim/druid/balance/TestBalance.results
  sim/druid/druid.go
  sim/druid/feral/TestFeral.results
  sim/druid/feral/rotation_helpers.go
  sim/druid/ferocious_bite.go
  sim/druid/guardian/TestGuardian.results
  sim/druid/items.go
  sim/druid/rip.go
Labels: Druid

#645 Add Guardian T14 set bonuses
  sim/druid/balance/TestBalance.results
  sim/druid/druid.go
  sim/druid/feral/TestFeral.results
  sim/druid/frenzied_regeneration.go
  sim/druid/guardian/TestGuardian.results
  sim/druid/guardian/savage_defense.go
  sim/druid/items.go
  sim/druid/might_of_ursoc.go
Labels: Druid

#698 [Frost] Update APLs for Masterfrost and Obliterate
  sim/death_knight/frost/TestFrostMasterfrost.results
  sim/death_knight/frost/TestFrostTwoHand.results
  ui/death_knight/frost/apls/masterfrost.apl.json
  ui/death_knight/frost/apls/obliterate.apl.json
Labels: Death Knight

#704 [Core] Auto-Attack Timing Changes to Suppress Haste Fakepoints
  sim/core/attack.go
  sim/core/unit.go
  sim/death_knight/blood/TestBlood.results
  sim/death_knight/frost/TestFrostMasterfrost.results
  sim/death_knight/frost/TestFrostTwoHand.results
  sim/death_knight/unholy/TestUnholy.results
  sim/death_knight/unholy/unholy.go
  sim/druid/barkskin.go
  sim/druid/guardian/TestGuardian.results
  sim/hunter/beast_mastery/TestBeastMastery.results
  sim/hunter/marksmanship/TestMarksmanship.results
  sim/hunter/survival/TestSurvival.results
  sim/monk/brewmaster/TestBrewmaster.results
  sim/monk/windwalker/TestWindwalker.results
  sim/paladin/protection/TestProtection.results
  sim/paladin/retribution/TestRetribution.results
  sim/rogue/assassination/TestAssassination.results
  sim/rogue/combat/TestCombat.results
  sim/rogue/subtlety/TestSubtlety.results
  sim/shaman/elemental/TestElemental.results
  sim/shaman/enhancement/TestEnhancement.results
  sim/warlock/affliction/TestAffliction.results
  sim/warlock/demonology/TestDemonology.results
  sim/warrior/arms/TestArms.results
  sim/warrior/fury/TestFury.results
  sim/warrior/protection/TestProtectionWarrior.results
  ui/druid/guardian/apls/empress.apl.json
  ui/druid/guardian/builds/empress_default.build.json
  ui/druid/guardian/builds/empress_encounter_only.build.json
Labels: Druid, Hunter, Paladin, Rogue, Shaman, Warlock, Warrior, Monk

#642 required talent config
  ui/core/individual_sim_ui.tsx
  ui/core/player.ts
  ui/core/talents/required_talents.ts
  ui/druid/feral/sim.ts
Labels: Druid
