Repository wowsims/mop, pull requests merged in 2025-10, with the labels that each got.

#897 Improve Guardian P2 farm setup
  sim/druid/guardian/TestGuardian.results
  ui/druid/guardian/gear_sets/p2.gear.json
Labels: Druid

#901 Feral Updates
  sim/druid/feral/TestFeral.results
  sim/druid/feral/feral_test.go
  sim/druid/feral/rotation_helpers.go
  ui/druid/feral/gear_sets/p1.gear.json
  ui/druid/feral/gear_sets/p2.gear.json
  ui/druid/feral/gear_sets/p3.gear.json
  ui/druid/feral/presets.ts
  ui/druid/feral/sim.ts
Labels: Druid

#900 [Enh] Fix static shock
  sim/shaman/ascendance.go
  sim/shaman/enhancement/TestEnhancement.results
  sim/shaman/shaman.go
  sim/shaman/talents.go
  sim/shaman/talents_enhancement.go
Labels: Shaman

#905 [Shaman] Removed FS and SS/SB initial non damaging hit
  sim/core/aura_helpers.go
  sim/shaman/elemental/TestElemental.results
  sim/shaman/enhancement/TestEnhancement.results
  sim/shaman/enhancement/stormstrike.go
  sim/shaman/items_mop.go
  sim/shaman/shaman.go
  sim/shaman/shocks.go
  sim/shaman/talents.go
  sim/shaman/talents_enhancement.go
  ui/shaman/elemental/sim.ts
Labels: Shaman

#920 Fix expertise racials for split mh/oh weapon types
  sim/core/character.go
  sim/core/racials.go
  sim/death_knight/blood/TestBlood.results
  sim/death_knight/frost/TestFrostMasterfrost.results
  sim/death_knight/frost/TestFrostTwoHand.results
  sim/death_knight/runeforging.go
  sim/death_knight/unholy/TestUnholy.results
  sim/warrior/arms/TestArms.results
  ui/core/components/character_stats.tsx
  ui/core/player.ts
  ui/scss/core/components/_character_stats.scss
Labels: Warrior

#922 [Hunter] Add T15 set bonuses
  sim/hunter/beast_mastery/TestBeastMastery.results
  sim/hunter/beast_mastery/beast_mastery.go
  sim/hunter/beast_mastery/bestial_wrath.go
  sim/hunter/hunter.go
  sim/hunter/item_sets.go
  sim/hunter/marksmanship/TestMarksmanship.results
  sim/hunter/marksmanship/specializations.go
  sim/hunter/pet.go
  sim/hunter/pet_abilities.go
  sim/hunter/survival/TestSurvival.results
  sim/hunter/survival/specializations.go
  ui/core/proto_utils/action_id.ts
Labels: Hunter

#923 [Hunter] Add T16 set bonuses
  sim/core/rppm.go
  sim/hunter/beast_mastery/TestBeastMastery.results
  sim/hunter/beast_mastery/bestial_wrath.go
  sim/hunter/hunter.go
  sim/hunter/item_sets.go
  sim/hunter/marksmanship/TestMarksmanship.results
  sim/hunter/marksmanship/aimed_shot.go
  sim/hunter/pet.go
  sim/hunter/rapid_fire.go
  sim/hunter/survival/TestSurvival.results
  sim/hunter/survival/specializations.go
Labels: Hunter

#932 [Shaman] Enh p2 preset
  sim/shaman/enhancement/TestEnhancement.results
  sim/shaman/enhancement/enhancement_test.go
  ui/shaman/enhancement/apls/default.apl.json
  ui/shaman/enhancement/gear_sets/p2.gear.json
  ui/shaman/enhancement/gear_sets/simtest.gear.json
  ui/shaman/enhancement/presets.ts
  ui/shaman/enhancement/sim.ts
Labels: Shaman

#908 New APL Value - Spell In Flight
  assets/locales/en/translation.json
  assets/locales/fr/translation.json
  proto/api.proto
  proto/apl.proto
  schemas/translation.schema.json
  sim/core/apl_value.go
  sim/core/apl_values_spell.go
  sim/core/spell_result.go
  sim/core/unit.go
  sim/mage/heating_up.go
  sim/warlock/affliction/affliction.go
  sim/warlock/affliction/apl_values.go
  sim/warlock/affliction/haunt.go
  ui/core/components/individual_sim_ui/apl_helpers.tsx
  ui/core/components/individual_sim_ui/apl_values.ts
Labels: Mage, Warlock
