Repository wowsims/mop, pull requests merged in 2025-06, with the labels that each got.

#131 Increase threat SumSq tolerance and enable BRM threat modifier
  sim/core/test_result_compare.go
  sim/monk/brewmaster/TestBrewmaster.results
  sim/monk/stances.go
  sim/paladin/crusader_strike.go
  sim/paladin/glyphs.go
  sim/paladin/guardian_of_ancient_kings.go
  sim/paladin/hammer_of_wrath.go
  sim/paladin/items.go
  sim/paladin/judgment.go
  sim/paladin/protection/TestProtection.results
  sim/paladin/protection/ardent_defender.go
  sim/paladin/protection/avengers_shield.go
  sim/paladin/protection/consecration.go
  sim/paladin/protection/guarded_by_the_light.go
  sim/paladin/protection/holy_wrath.go
  sim/paladin/protection/protection_test.go
  sim/paladin/protection/righteous_fury.go
  sim/paladin/protection/sanctuary.go
  sim/paladin/retribution/TestRetribution.results
  sim/paladin/retribution/exorcism.go
  sim/paladin/retribution/retribution_test.go
  sim/paladin/retribution/sword_of_light.go
  sim/paladin/seal_of_insight.go
  sim/paladin/seal_of_truth.go
  sim/paladin/shield_of_the_righteous.go
  sim/paladin/talents.go
  sim/paladin/templars_verdict.go
  sim/paladin/word_of_glory.go
Labels: Paladin, Monk

#134 Guardian Unit Tests
  sim/common/mop/metagems.go
  sim/core/TestProtoVersioning.results
  sim/core/test_generators.go
  sim/core/test_result_compare.go
  sim/druid/guardian/TestGuardian.results
  sim/druid/guardian/tank_test.go
  sim/monk/brewmaster/TestBrewmaster.results
  sim/paladin/protection/TestProtection.results
  sim/paladin/retribution/TestRetribution.results
  sim/paladin/seal_of_insight.go
  ui/core/components/suggest_reforges_action.tsx
  ui/druid/guardian/apls/default.apl.json
  ui/druid/guardian/gear_sets/preraid.gear.json
  ui/druid/guardian/presets.ts
  ui/druid/guardian/sim.ts
Labels: Druid, Paladin, Monk

#135 Guardian specialization spell implementations
  sim/druid/_berserk.go
  sim/druid/_survival_instincts.go
  sim/druid/_talents.go
  sim/druid/berserk.go
  sim/druid/druid.go
  sim/druid/feral/feral.go
  sim/druid/guardian/TestGuardian.results
  sim/druid/guardian/savage_defense.go
  sim/druid/guardian/tank.go
  sim/druid/guardian/tooth_and_claw.go
  sim/druid/mangle.go
  sim/druid/prowl.go
  sim/druid/ravage.go
  sim/druid/savage_defense.go
  sim/druid/shared_feral_passives.go
  sim/druid/survival_instincts.go
  ui/druid/guardian/apls/default.apl.json
Labels: Druid

#143 Guardian Soul of the Forest + Incarnation implementations
  sim/druid/guardian/TestGuardian.results
  sim/druid/guardian/talents.go
  sim/druid/guardian/tank.go
  sim/druid/guardian/tank_test.go
  sim/druid/mangle.go
  sim/druid/rake.go
  sim/druid/shared_feral_passives.go
  sim/druid/talents.go
  ui/core/components/detailed_results/healing_metrics.tsx
  ui/core/proto_utils/sim_result.ts
  ui/druid/guardian/apls/default.apl.json
Labels: Druid

#145 [Pala] Fix Sanctity of Battle GCD reduction
  sim/paladin/crusader_strike.go
  sim/paladin/glyphs.go
  sim/paladin/hammer_of_the_righteous.go
  sim/paladin/hammer_of_wrath.go
  sim/paladin/judgment.go
  sim/paladin/protection/TestProtection.results
  sim/paladin/retribution/TestRetribution.results
  sim/paladin/retribution/divine_storm.go
  sim/paladin/sanctity_of_battle.go
  sim/paladin/spell_masks.go
  sim/paladin/talents.go
  sim/paladin/templars_verdict.go
  sim/paladin/word_of_glory.go
  ui/paladin/protection/gear_sets/p1.gear.json
  ui/paladin/retribution/gear_sets/p1.gear.json
Labels: Paladin

#146 Guardian Force of Nature implementation
  sim/druid/_force_of_nature.go
  sim/druid/druid.go
  sim/druid/guardian/TestGuardian.results
  sim/druid/guardian/talents.go
  sim/druid/guardian/tank.go
  sim/druid/guardian/tank_test.go
  sim/druid/guardian/treants.go
  sim/druid/treants.go
Labels: Druid

#149 Remove Heroism and Time Warp for cleaner APLs
  proto/common.proto
  sim/core/buffs.go
  ui/core/components/inputs/buffs_debuffs.ts
  ui/core/proto_utils/action_id.ts
  ui/mage/fire/sim.tsx
  ui/paladin/retribution/sim.ts
Labels: Mage, Paladin

#151 [Druid] Treant code refactor + fixes
  sim/druid/druid.go
  sim/druid/guardian/TestGuardian.results
  sim/druid/guardian/talents.go
  sim/druid/guardian/tank.go
  sim/druid/guardian/treants.go
  sim/druid/talents.go
  sim/druid/treants.go
Labels: Druid

#156 Feature/survival
  sim/core/spell_outcome.go
  sim/core/spell_result.go
  sim/hunter/a_murder_of_crows.go
  sim/hunter/dire_beast.go
  sim/hunter/glaive_toss.go
  sim/hunter/hunter.go
  sim/hunter/kill_command.go
  sim/hunter/lynx_rush.go
  sim/hunter/pet.go
  sim/hunter/pet_abilities.go
  sim/hunter/steady_shot.go
  sim/hunter/survival/black_arrow.go
  sim/hunter/survival/explosive_shot.go
  sim/hunter/survival/specializations.go
  sim/hunter/survival/survival.go
  sim/hunter/talents.go
  ui/core/components/pickers/pet_spec_picker.tsx
  ui/hunter/survival/presets.ts
  ui/hunter/survival/sim.ts
  ui/scss/core/talents/_talents_picker.scss
Labels: Hunter

#158 Feature/survival
  sim/hunter/a_murder_of_crows.go
  sim/hunter/explosive_trap.go
  sim/hunter/fervor.go
  sim/hunter/hunter.go
  sim/hunter/pet_abilities.go
  sim/hunter/serpent_sting.go
  sim/hunter/survival/black_arrow.go
  sim/hunter/survival/survival.go
Labels: Hunter

#172 Feature/glaivetoss
  proto/hunter.proto
  sim/hunter/glaive_toss.go
  ui/hunter/beast_mastery/sim.ts
  ui/hunter/inputs.ts
  ui/hunter/marksmanship/sim.ts
  ui/hunter/shared.ts
  ui/hunter/survival/sim.ts
Labels: Hunter

#184 [Shaman] Added Pandaren race option
  sim/core/base_stats.go
  sim/shaman/elemental/TestElemental.results
  sim/shaman/elemental/elemental_test.go
  sim/shaman/enhancement/TestEnhancement.results
  sim/shaman/enhancement/enhancement_test.go
  ui/core/components/input_helpers.ts
  ui/core/player_classes/shaman.ts
  ui/shaman/inputs.ts
Labels: Shaman

#188 [Shaman] fix EM not giving melee haste
  sim/shaman/elemental/TestElemental.results
  sim/shaman/enhancement/TestEnhancement.results
  sim/shaman/talents.go
Labels: Shaman

#201 [Pala] Add changes from the 2025-06-16 beta drop
  sim/core/buffs.go
  sim/paladin/crusader_strike.go
  sim/paladin/holy/hotfix_passive.go
  sim/paladin/protection/TestProtection.results
  sim/paladin/retribution/TestRetribution.results
  sim/paladin/retribution/hotfix_passive.go
  sim/paladin/retribution/sword_of_light.go
  sim/paladin/seal_of_insight.go
Labels: Paladin

#222 Rogue APL improvements
  sim/rogue/assassination/TestAssassination.results
  sim/rogue/combat/TestCombat.results
  ui/rogue/assassination/apls/assassination.apl.json
  ui/rogue/combat/apls/combat.apl.json
Labels: Rogue

#224 [Pala] Fix Sanctity of Battle by adding melee haste changed event
  sim/core/unit.go
  sim/paladin/protection/TestProtection.results
  sim/paladin/retribution/TestRetribution.results
  sim/paladin/retribution/retribution_test.go
  sim/paladin/sanctity_of_battle.go
  ui/paladin/retribution/gear_sets/p1.gear.json
  ui/paladin/retribution/gear_sets/preraid.gear.json
  ui/paladin/retribution/presets.ts
  ui/paladin/retribution/sim.ts
Labels: Paladin

#229 Mutilate and Profession Fixes
  sim/core/consumes.go
  sim/core/professions.go
  sim/rogue/assassination/TestAssassination.results
  sim/rogue/assassination/mutilate.go
  sim/rogue/assassination/passives.go
Labels: Rogue

#236 [Survival] Fix presets
  sim/hunter/hunter.go
  ui/hunter/presets/p1.json
  ui/hunter/survival/sim.ts
Labels: Hunter

#237 [Prot] Fix Glyph of Final Wrath
  sim/paladin/protection/holy_wrath.go
Labels: Paladin

#239 [Hunter] Clean up, fix Thrill of the Hunt, double damage passes on Glaive Toss, AMoC crits and Dire Beast damage
  sim/core/spell_outcome.go
  sim/hunter/a_murder_of_crows.go
  sim/hunter/arcane_shot.go
  sim/hunter/barrage.go
  sim/hunter/cata_items.go
  sim/hunter/cobra_shot.go
  sim/hunter/glaive_toss.go
  sim/hunter/hunter.go
  sim/hunter/hunters_mark.go
  sim/hunter/kill_command.go
  sim/hunter/kill_shot.go
  sim/hunter/marksmanship/aimed_shot.go
  sim/hunter/marksmanship/chimera_shot.go
  sim/hunter/multi_shot.go
  sim/hunter/pet.go
  sim/hunter/rapid_fire.go
  sim/hunter/silencing_shot.go
  sim/hunter/steady_shot.go
  sim/hunter/survival/black_arrow.go
  sim/hunter/survival/specializations.go
  sim/hunter/talents.go
  ui/hunter/shared.ts
Labels: Hunter

#241 [Hunter] Thrill of the Hunt (-20 Focus cost)
  sim/hunter/talents.go
Labels: Hunter

#244 [Rogue] Preset updates
  sim/rogue/assassination/TestAssassination.results
  sim/rogue/combat/TestCombat.results
  sim/rogue/subtlety/TestSubtlety.results
  ui/rogue/assassination/gear_sets/p1_assassination_msv.gear.json
  ui/rogue/assassination/gear_sets/p1_assassination_t14.gear.json
  ui/rogue/assassination/gear_sets/preraid_assassination.gear.json
  ui/rogue/combat/gear_sets/p1_combat_msv.gear.json
  ui/rogue/combat/gear_sets/p1_combat_t14.gear.json
  ui/rogue/combat/gear_sets/preraid_combat.gear.json
  ui/rogue/subtlety/gear_sets/p1_subtlety_msv.gear.json
  ui/rogue/subtlety/gear_sets/p1_subtlety_t14.gear.json
  ui/rogue/subtlety/gear_sets/preraid_subtlety.gear.json
Labels: Rogue

#246 [Hunter] fix Thrill of the Hunt (FloatValue -> IntValue)
  sim/hunter/talents.go
Labels: Hunter

#251 Feature/warlock
  proto/api.proto
  proto/apl.proto
  proto/common.proto
  sim/core/TestProtoVersioning.results
  sim/core/apl_value.go
  sim/core/apl_values_core.go
  sim/core/dot.go
  sim/core/unit.go
  sim/warlock/_curses.go
  sim/warlock/_demon_soul.go
  sim/warlock/_drain_soul.go
  sim/warlock/_shadowburn.go
  sim/warlock/_soul_harvest.go
  sim/warlock/_summon_demon.go
  sim/warlock/affliction/affliction.go
  sim/warlock/affliction/agony.go
  sim/warlock/affliction/apl_values.go
  sim/warlock/affliction/haunt.go
  sim/warlock/affliction/soul_swap.go
  sim/warlock/affliction/unstable_affliction.go
  sim/warlock/corruption.go
  sim/warlock/demonology/TestDemonology.results
  sim/warlock/demonology/apl_values.go
  sim/warlock/demonology/demonology.go
  sim/warlock/demonology/doom.go
  sim/warlock/demonology/glyphs.go
  sim/warlock/demonology/hand_of_guldan.go
  sim/warlock/demonology/wild_imp.go
  sim/warlock/destruction/TestDestruction.results
  sim/warlock/destruction/destruction.go
  sim/warlock/destruction/ember_tap.go
  sim/warlock/destruction/immolate.go
  sim/warlock/destruction/rain_of_fire.go
  sim/warlock/doomguard.go
  ui/core/components/individual_sim_ui/apl_helpers.tsx
  ui/core/components/individual_sim_ui/apl_values.ts
  ui/warlock/demonology/apls/default.apl.json
  ui/warlock/demonology/gear_sets/p1.gear.json
  ui/warlock/destruction/apls/default.apl.json
  ui/warlock/destruction/gear_sets/p1.gear.json
Labels: Warlock

#260 [Warlock] Make Same channel spells have 0 delay and update APL
  sim/core/dot.go
  sim/mage/arcane/TestArcane.results
  sim/priest/shadow/TestShadow.results
  sim/warlock/affliction/TestAffliction.results
  sim/warlock/affliction/affliction_test.go
  sim/warlock/affliction/cpu_after.prof
  sim/warlock/affliction/cpu_before.prof
  sim/warlock/destruction/TestDestruction.results
  ui/warlock/destruction/apls/default.apl.json
Labels: Mage, Priest, Warlock

#275 [Hunter] - Fix Stampede and Dire Beast scaling and Stormlash
  sim/core/attack.go
  sim/hunter/pet.go
  ui/hunter/survival/apls/sv.apl.json
Labels: Hunter

#276 [DK] Fix Blood Tap, Plague Leech and Runic Empowerment slot logic
  sim/core/runic_power.go
  sim/death_knight/frost/TestFrostMasterfrost.results
  sim/death_knight/frost/TestFrostTwoHand.results
  sim/death_knight/talents.go
  sim/death_knight/unholy/TestUnholy.results
  ui/death_knight/frost/apls/2h.apl.json
  ui/death_knight/frost/apls/masterfrost.apl.json
  ui/death_knight/unholy/apls/default.apl.json
Labels: Death Knight

#281 [Warlock] Update APL and remove Soul Burn shard cost pre -20 sec
  sim/warlock/affliction/TestAffliction.results
  sim/warlock/affliction/soulburn.go
  ui/warlock/affliction/apls/default.apl.json
Labels: Warlock

#287 [Shaman] Fix/lavasurge
  sim/shaman/ascendance.go
  sim/shaman/elemental/TestElemental.results
  sim/shaman/talents.go
Labels: Shaman

#291 [DK] Tons of fixes
  sim/core/buffs.go
  sim/core/focus.go
  sim/core/pet.go
  sim/core/runic_power.go
  sim/death_knight/army_of_the_dead.go
  sim/death_knight/blood/TestBlood.results
  sim/death_knight/frost/TestFrostMasterfrost.results
  sim/death_knight/frost/TestFrostTwoHand.results
  sim/death_knight/frost/frost_test.go
  sim/death_knight/ghoul_pet.go
  sim/death_knight/raise_dead.go
  sim/death_knight/talents.go
  sim/death_knight/unholy/TestUnholy.results
  ui/death_knight/blood/sim.ts
  ui/death_knight/frost/apls/2h.apl.json
  ui/death_knight/frost/apls/dw.apl.json
  ui/death_knight/frost/apls/obliterate.apl.json
  ui/death_knight/frost/gear_sets/p1.2h-obliterate.gear.json
  ui/death_knight/frost/gear_sets/p1.2h.gear.json
  ui/death_knight/frost/gear_sets/p1.dw-obliterate.gear.json
  ui/death_knight/frost/presets.ts
  ui/death_knight/frost/sim.ts
  ui/death_knight/unholy/sim.ts
Labels: Death Knight

#292 [Hunter] Apply ranged flag to spells
  sim/core/spell_result.go
  sim/core/target.go
  sim/hunter/a_murder_of_crows.go
  sim/hunter/barrage.go
  sim/hunter/hunters_mark.go
  sim/hunter/marksmanship/marksmanship.go
  sim/hunter/serpent_sting.go
Labels: Hunter

#299 [Shaman] Removed Shamanistic rage gcd
  sim/shaman/chain_lightning.go
  sim/shaman/elemental/TestElemental.results
  sim/shaman/elemental/shamanistic_rage.go
  sim/shaman/enhancement/TestEnhancement.results
Labels: Shaman

#301 [Hunter] Fixes for Hunter abilities and cooldowns
  sim/core/buffs.go
  sim/hunter/barrage.go
  sim/hunter/hunter.go
  sim/hunter/marksmanship/marksmanship.go
  sim/hunter/marksmanship/steady_shot.go
  sim/hunter/rapid_fire.go
Labels: Hunter

#303 Add Unending Resolve and DotBaseDurationMultiplier
  sim/core/dot.go
  sim/core/spell_mod.go
  sim/paladin/holy/hotfix_passive.go
  sim/warlock/glyphs.go
  sim/warlock/warlock.go
Labels: Paladin, Warlock

#304 [Warlock] Update Demonology Presets
  sim/warlock/demonology/TestDemonology.results
  ui/warlock/demonology/apls/default.apl.json
  ui/warlock/demonology/gear_sets/preraid.gear.json
Labels: Warlock

#308 Fix MM Mastery
  sim/hunter/marksmanship/marksmanship.go
  ui/core/constants/mechanics.ts
Labels: Hunter

#310 [Hunter] Add ClassSpellMasks for all talent abilities and add to Bestial Wrath focus mod
  sim/hunter/beast_mastery/bestial_wrath.go
  sim/hunter/dire_beast.go
  sim/hunter/fervor.go
  sim/hunter/glaive_toss.go
  sim/hunter/hunter.go
  sim/hunter/lynx_rush.go
  sim/hunter/powershot.go
Labels: Hunter

#313 [Hunter] BM Tier 14 4-set bonus
  sim/hunter/beast_mastery/bestial_wrath.go
Labels: Hunter

#315 [Hunter] Updated BM APL
  sim/hunter/beast_mastery/TestBeastMastery.results
  ui/hunter/beast_mastery/apls/bm.apl.json
Labels: Hunter

#279 Fix/delayed pet inheritance
  sim/core/apl_actions_sequences.go
  sim/core/attack.go
  sim/core/aura_helpers.go
  sim/core/buffs.go
  sim/core/constants.go
  sim/core/consumes.go
  sim/core/debuffs.go
  sim/core/environment.go
  sim/core/focus.go
  sim/core/item_swaps.go
  sim/core/pending_action.go
  sim/core/pet.go
  sim/core/racials.go
  sim/core/sim.go
  sim/core/unit.go
  sim/death_knight/blood/TestBlood.results
  sim/death_knight/frost/TestFrostMasterfrost.results
  sim/death_knight/frost/TestFrostTwoHand.results
  sim/death_knight/unholy/TestUnholy.results
  sim/druid/barkskin.go
  sim/druid/guardian/TestGuardian.results
  sim/druid/treants.go
  sim/encounters/bwd/magmaw_ai.go
  sim/encounters/bwd/nefarian_ai.go
  sim/encounters/dragonsoul/blackhorn_ai.go
  sim/encounters/firelands/baleroc_ai.go
  sim/encounters/firelands/bethtilac_ai.go
  sim/hunter/beast_mastery/TestBeastMastery.results
  sim/hunter/marksmanship/TestMarksmanship.results
  sim/hunter/survival/TestSurvival.results
  sim/mage/arcane/TestArcane.results
  sim/mage/frost/TestFrost.results
  sim/monk/brewmaster/TestBrewmaster.results
  sim/monk/crackling_jade_lightning.go
  sim/monk/talents.go
  sim/monk/windwalker/TestWindwalker.results
  sim/paladin/retribution/TestRetribution.results
  sim/priest/shadow/TestShadow.results
  sim/shaman/ascendance.go
  sim/shaman/earth_elemental_pet.go
  sim/shaman/electric_spell.go
  sim/shaman/elemental/TestElemental.results
  sim/shaman/elemental_blast.go
  sim/shaman/enhancement/TestEnhancement.results
  sim/shaman/enhancement/feral_spirit.go
  sim/shaman/fire_elemental_pet.go
  sim/shaman/fire_totems.go
  sim/shaman/talents.go
  sim/shaman/talents_elemental.go
  sim/shaman/unleash_elements.go
  sim/warlock/affliction/TestAffliction.results
  sim/warlock/demonology/TestDemonology.results
  sim/warlock/demonology/chaos_wave.go
  sim/warlock/demonology/hand_of_guldan.go
  sim/warlock/demonology/wild_imp.go
  sim/warlock/destruction/TestDestruction.results
  sim/warlock/destruction/shadowburn.go
  sim/warrior/heroic_leap.go
  sim/warrior/heroic_throw.go
Labels: Druid, Hunter, Mage, Paladin, Priest, Shaman, Warlock, Warrior, Monk

#339 [Hunter] Reorganize abilities and bug fixes
  sim/hunter/barrage.go
  sim/hunter/beast_mastery/TestBeastMastery.results
  sim/hunter/beast_mastery/beast_mastery_test.go
  sim/hunter/glaive_toss.go
  sim/hunter/marksmanship/TestMarksmanship.results
  sim/hunter/marksmanship/marksmanship_test.go
  sim/hunter/serpent_sting.go
  sim/hunter/survival/TestSurvival.results
  sim/hunter/survival/explosive_shot.go
  sim/hunter/survival/survival_test.go
  ui/core/proto_utils/action_id.ts
Labels: Hunter

#351 [Unholy] Updates to Gargoyle, disease snapshotting and presets
  sim/core/spell_outcome.go
  sim/death_knight/diseases.go
  sim/death_knight/gargoyle_pet.go
  sim/death_knight/presences.go
  sim/death_knight/unholy/TestUnholy.results
  sim/priest/shadow_word_pain.go
  sim/priest/vampiric_touch.go
  sim/warlock/affliction/agony.go
  sim/warlock/affliction/unstable_affliction.go
  sim/warlock/corruption.go
  sim/warlock/demonology/doom.go
  sim/warlock/destruction/immolate.go
  ui/core/components/individual_sim_ui/consumes_picker.tsx
  ui/death_knight/unholy/apls/default.apl.json
  ui/death_knight/unholy/gear_sets/p1.gear.json
  ui/death_knight/unholy/presets.ts
  ui/death_knight/unholy/sim.ts
Labels: Death Knight, Priest, Warlock

#357 Feature/fix neteyes june
  sim/core/dot.go
  sim/core/unit.go
  sim/hunter/barrage.go
  sim/hunter/marksmanship/marksmanship.go
Labels: Hunter

#362 [Prot] Update prot P1 preset
  sim/death_knight/unholy/scourge_strike.go
  sim/paladin/crusader_strike.go
  sim/paladin/protection/TestProtection.results
  sim/paladin/protection/protection_test.go
  sim/paladin/retribution/templars_verdict.go
  ui/paladin/protection/gear_sets/p1-balanced.gear.json
  ui/paladin/protection/gear_sets/p1.gear.json
  ui/paladin/protection/presets.ts
  ui/paladin/protection/sim.ts
Labels: Paladin

#363 [Frost] Update APLs
  sim/death_knight/frost/TestFrostMasterfrost.results
  sim/death_knight/frost/TestFrostTwoHand.results
  sim/death_knight/frost/frost_test.go
  ui/death_knight/frost/apls/masterfrost.apl.json
  ui/death_knight/frost/sim.ts
Labels: Death Knight

#365 Fix ICD of Zen Alchemist Stone aura for APL checks
  sim/common/mop/trinkets_phase_1_50.go
  sim/death_knight/unholy/TestUnholy.results
  sim/monk/windwalker/TestWindwalker.results
  sim/warrior/arms/TestArms.results
Labels: Warrior, Monk

#385 [Frost] Update 2h preset and APL
  sim/death_knight/blood/TestBlood.results
  sim/death_knight/frost/TestFrostMasterfrost.results
  sim/death_knight/frost/TestFrostTwoHand.results
  sim/death_knight/unholy/TestUnholy.results
  ui/death_knight/frost/apls/obliterate.apl.json
  ui/death_knight/frost/gear_sets/p1.2h-obliterate.gear.json
  ui/death_knight/frost/sim.ts
Labels: Death Knight
