Repository wowsims/mop, pull requests merged in 2025-05, with the labels that each got.

#61 Raid buffs
  proto/common.proto
  sim/core/buffs.go
  sim/core/raid.go
  sim/core/test_utils.go
  sim/death_knight/blood/blood.go
  sim/druid/guardian/tank.go
  sim/hunter/hunter.go
  sim/mage/evocation.go
  sim/paladin/protection/protection.go
  sim/warlock/warlock.go
  ui/core/components/inputs/buffs_debuffs.ts
  ui/death_knight/blood/sim.ts
  ui/death_knight/frost/sim.ts
  ui/death_knight/unholy/sim.ts
  ui/druid/balance/presets.ts
  ui/druid/balance/sim.ts
  ui/druid/feral/sim.ts
  ui/druid/guardian/sim.ts
  ui/druid/restoration/presets.ts
  ui/hunter/beast_mastery/sim.ts
  ui/hunter/marksmanship/sim.ts
  ui/hunter/survival/sim.ts
  ui/mage/arcane/presets.ts
  ui/mage/arcane/sim.ts
  ui/mage/fire/presets.ts
  ui/mage/fire/sim.tsx
  ui/mage/frost/sim.ts
  ui/monk/brewmaster/sim.ts
  ui/monk/mistweaver/sim.ts
  ui/monk/windwalker/sim.ts
  ui/paladin/holy/presets.ts
  ui/paladin/protection/sim.ts
  ui/paladin/retribution/sim.ts
  ui/priest/discipline/presets.ts
  ui/priest/discipline/sim.ts
  ui/priest/holy/presets.ts
  ui/priest/holy/sim.ts
  ui/priest/shadow/presets.ts
  ui/priest/shadow/sim.ts
  ui/raid/raid_stats.tsx
  ui/rogue/assassination/sim.ts
  ui/rogue/combat/sim.ts
  ui/rogue/subtlety/sim.ts
  ui/shaman/elemental/sim.ts
  ui/shaman/enhancement/presets.ts
  ui/shaman/enhancement/sim.ts
  ui/shaman/restoration/sim.ts
  ui/warlock/affliction/presets.ts
  ui/warlock/affliction/sim.ts
  ui/warlock/demonology/presets.ts
  ui/warlock/demonology/sim.ts
  ui/warlock/destruction/presets.ts
  ui/warlock/destruction/sim.ts
  ui/warrior/arms/sim.ts
  ui/warrior/fury/sim.ts
  ui/warrior/protection/sim.ts
Labels: Death Knight, Druid, Hunter, Mage, Paladin, Priest, Rogue, Shaman, Warlock, Warrior, Monk

#54 [Feature] Generic secondary resources
  proto/apl.proto
  proto/common.proto
  proto/spell.proto
  sim/core/_proto_test.go
  sim/core/apl_value.go
  sim/core/apl_values_resources.go
  sim/core/metrics_aggregator.go
  sim/core/secondary_resource_bar.go
  sim/core/unit.go
  sim/paladin/apl_values.go
  sim/paladin/crusader_strike.go
  sim/paladin/holy_power.go
  sim/paladin/holy_power_bar.go
  sim/paladin/items.go
  sim/paladin/judgement.go
  sim/paladin/paladin.go
  sim/paladin/protection/avengers_shield.go
  sim/paladin/retribution/templars_verdict.go
  tools/database/dbc/maps.go
  ui/core/components/detailed_results.tsx
  ui/core/components/detailed_results/resource_metrics.tsx
  ui/core/components/detailed_results/timeline.tsx
  ui/core/components/individual_sim_ui/apl_values.ts
  ui/core/individual_sim_ui.tsx
  ui/core/player.ts
  ui/core/proto_utils/action_id.ts
  ui/core/proto_utils/logs_parser.tsx
  ui/core/proto_utils/names.ts
  ui/core/proto_utils/secondary_resource.ts
  ui/core/proto_utils/utils.ts
  ui/core/sim_ui.tsx
  ui/paladin/retribution/apls/default.apl.json
Labels: Paladin

#66 [Feature][Tooltip] Implement basic WoW Tooltip Parser
  assets/enchants/descriptions.json
  go.mod
  go.sum
  proto/druid.proto
  proto/monk.proto
  proto/priest.proto
  proto/rogue.proto
  tools/DB2ToSqlite/.vscode/launch.json
  tools/database/dbc/spell.go
  tools/database/dbc/spell_effect.go
  tools/database/gen_db/main.go
  tools/database/gen_protos.go
  tools/database/ptr-generator-settings.json
  tools/database/tables.go
  tools/tooltip/dbc_data_provider.go
  tools/tooltip/run/dummy_data_provider.go
  tools/tooltip/run/tooltip_runner.go
  tools/tooltip/tooltip_parser.go
  ui/core/talents/death_knight.ts
  ui/core/talents/druid.ts
  ui/core/talents/hunter.ts
  ui/core/talents/mage.ts
  ui/core/talents/monk.ts
  ui/core/talents/paladin.ts
  ui/core/talents/priest.ts
  ui/core/talents/rogue.ts
  ui/core/talents/shaman.ts
  ui/core/talents/warlock.ts
  ui/core/talents/warrior.ts
Labels: enhancement, Druid, Priest, Rogue, Monk

#94 [Feature] Add native support for Spells with Stacks
  proto/apl.proto
  sim/core/apl_value.go
  sim/core/apl_values_spell.go
  sim/core/cast.go
  sim/core/spell.go
  sim/core/spell_mod.go
  sim/monk/apl_values.go
  sim/monk/monk.go
  sim/monk/talents.go
  ui/core/components/individual_sim_ui/apl_values.ts
  ui/monk/windwalker/apls/default.apl.json
Labels: Monk

#59 [Feature][Shadow] Initial implementation for the Shadow Spec
  sim/core/aura_helpers.go
  sim/core/buffs.go
  sim/core/dot.go
  sim/core/mana.go
  sim/priest/_glyphs.go
  sim/priest/_power_infusion.go
  sim/priest/_talents.go
  sim/priest/_vampiric_touch.go
  sim/priest/glyphs.go
  sim/priest/items.go
  sim/priest/mind_sear.go
  sim/priest/mind_spike.go
  sim/priest/mindbender.go
  sim/priest/mindbender_pet.go
  sim/priest/power_infusion.go
  sim/priest/priest.go
  sim/priest/shadow/cascade.go
  sim/priest/shadow/devouring_plague.go
  sim/priest/shadow/divine_star.go
  sim/priest/shadow/halo.go
  sim/priest/shadow/mind_blast.go
  sim/priest/shadow/mind_flay.go
  sim/priest/shadow/mind_spike.go
  sim/priest/shadow/shadow.go
  sim/priest/shadow/shadow_word_death.go
  sim/priest/shadow/shadowy_apparition.go
  sim/priest/shadow/shadowy_recall.go
  sim/priest/shadow/talents.go
  sim/priest/shadow_word_death.go
  sim/priest/shadow_word_pain.go
  sim/priest/shadowfiend_pet.go
  sim/priest/vampiric_touch.go
  ui/core/constants/mechanics.ts
  ui/core/proto_utils/action_id.ts
  ui/core/proto_utils/logs_parser.tsx
  ui/index.html
  ui/priest/shadow/apls/default.apl.json
  ui/priest/shadow/apls/p4.apl.json
  ui/priest/shadow/gear_sets/p1.gear.json
  ui/priest/shadow/gear_sets/p3.gear.json
  ui/priest/shadow/gear_sets/p4.gear.json
  ui/priest/shadow/gear_sets/p4_item_swap.gear.json
  ui/priest/shadow/gear_sets/pre_raid.gear.json
  ui/priest/shadow/gear_sets/preraid.gear.json
  ui/priest/shadow/presets.ts
  ui/priest/shadow/sim.ts
Labels: Priest

#99 Guardian Dev Part 1: Accurate Character Stats
  sim/core/aura_helpers.go
  sim/core/base_stats.go
  sim/core/stats/deps.go
  sim/core/unit.go
  sim/druid/_enrage.go
  sim/druid/druid.go
  sim/druid/forms.go
  sim/druid/guardian/enrage.go
  sim/druid/guardian/tank.go
  ui/core/constants/mechanics.ts
  ui/druid/guardian/presets.ts
  ui/druid/guardian/sim.ts
Labels: Druid

#106 Rage mechanics update + more Guardian work
  sim/core/character.go
  sim/core/rage.go
  sim/druid/barkskin.go
  sim/druid/druid.go
  sim/druid/faerie_fire.go
  sim/druid/feral/_omen_of_clarity.go
  sim/druid/feral/feral.go
  sim/druid/forms.go
  sim/druid/guardian/tank.go
  sim/warrior/_stances.go
  sim/warrior/arms/arms.go
  sim/warrior/fury/fury.go
  sim/warrior/protection/protection.go
  ui/druid/guardian/presets.ts
Labels: Druid, Warrior

#108 Rage bar configuration refactor
  sim/core/rage.go
  sim/druid/feral/feral.go
  sim/druid/guardian/tank.go
  sim/warrior/arms/arms.go
  sim/warrior/fury/fury.go
  sim/warrior/protection/protection.go
Labels: Druid, Warrior

#119 Guardian Dev Part 2: Core Spells
  sim/druid/_lacerate.go
  sim/druid/_talents.go
  sim/druid/druid.go
  sim/druid/faerie_fire.go
  sim/druid/ferocious_bite.go
  sim/druid/frenzied_regeneration.go
  sim/druid/lacerate.go
  sim/druid/mangle.go
  sim/druid/maul.go
  sim/druid/rip.go
  ui/core/components/raid_sim_action.tsx
  ui/core/sim.ts
Labels: Druid

#123 Guardian Dev Part 3: Finished Class Level Abilities
  sim/druid/_rake.go
  sim/druid/_talents.go
  sim/druid/demoralizing_roar.go
  sim/druid/druid.go
  sim/druid/feral/feral.go
  sim/druid/ferocious_bite.go
  sim/druid/guardian/tank.go
  sim/druid/maul.go
  sim/druid/might_of_ursoc.go
  sim/druid/rake.go
  sim/druid/shared_feral_passives.go
  sim/druid/swipe.go
  sim/druid/thrash.go
  ui/core/proto_utils/names.ts
Labels: Druid
